<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{url_for('static', filename = 'css/layout.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-nav" role="navigation">
        <center>
            <a><h1>Facemash - VIT Version</h1></a>
        </center>
    </nav>

    {% block body %}

    {% endblock %}

    <footer>
        <div class = "container">
            <a target = "_blank" href="/rating">See who's winning!</a>
        </div>
        <p>Made by <b>VITians</b> for <b>VITians</b>.</p>
    </footer>

</body>
</html>