{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/layout.css') }}">
<title>Facemash - Who's Hotter? VIT Version</title>
{% endblock %}

{% block body %}
<center class = "container">
    <h2>
        Who's hotter? Click to make a choice.
    </h2>

    <table>
        <tr>
            <td>
                <img id = "img_1" src = "{{image_1_url}}">
            </td>
            <td>OR</td>
            <td>
                <img id = "img_1" src="{{image_2_url}}">
            </td>
        </tr>
    </table>
</center>
{% endblock %}